<div class="col">
    <section class="buzz card buzz-bg p-4">

        <header>
            <h2 class="fs-3 fw-light">My Posts</h2>
        </header>

        <Events 
        	@userSpecific="true"
            @destroy={{fn this.destroy}}
        	@events={{@model.events}}
        	@page={{this.page}} 
        	@size={{this.size}} 
        	@paginate={{fn this.paginate}}
        	@total={{this.model.events.meta.total}}
        	@pageCounts={{this.pageCounts}}
            @showComments={{this.showComments}}
    	/>
    </section>
</div>