{{#if @event}}

<div class="col col-lg-3">
    <aside class="card p-4">

      <figure>
        <blockquote class="blockquote">
          {{#froala-content}}
              {{html-safe @event.description}}
          {{/froala-content}}
        </blockquote>
        <figcaption class="blockquote-footer font-monospace">
          {{@event.user.name}} <br> <small><cite>{{moment-from-now @event.start}}</cite></small>
        </figcaption>
      </figure>

      <ul class="list-group comments p-3 pe-0">
        {{#each @event.comments as |comment|}}
          <li class="comment list-group-item list-group-item-action px-0">
            <figure>
              <blockquote class="blockquote fs-6">
                {{#froala-content}}
                    {{html-safe comment.comment}}
                {{/froala-content}}
              </blockquote>
              <figcaption class="blockquote-footer">
                <small><cite>{{comment.user.name}}</cite></small>
              </figcaption>
            </figure>
          </li>
        {{/each}}
      </ul>

      <form class="mt-3">
        <div class="mb-3">
          <label for="comment" class="form-label">What's your opinion</label>
          <FroalaEditor
            @content={{html-safe @newComment}}
            @update={{fn (mut @newComment)}}
            @updateEvent="input"
          />
        </div>
        <button {{action @addComment}} class="btn btn-primary">Post</button>
      </form>
    </aside>
</div>
{{/if}}