{{#if (gt @total @size)}}
<Events::Filter @pageCounts={{@pageCounts}} @size={{@size}} />
{{/if}}

<div class="table-responsive flex-row flex-wrap">
    <table class="table">
        <thead>
            <tr>
                <th class="p-3 ps-0" scope="col">Time</th>
                <th class="p-3" scope="col">{{if @userSpecific 'Category' 'From'}}</th>
                <th class="p-3 pe-0" scope="col">Message</th>
                {{#if @userSpecific}}
                    <th class="p-3 pe-0" scope="col" colspan="3">Actions</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
        	{{#each @events as |event|}}
            <tr {{on 'click' (fn @showComments event)}}>
        		<Events::Event @event={{event}} @userSpecific={{@userSpecific}} @destroy={{@destroy}} />
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{#if (gt @total @size)}}
    <Common::Pagination @pager={{pager @total @page @size}} @paginate={{@paginate}} />
{{/if}}
