<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Public:</strong>
  <%= @event.public %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
