<div class="row">
    
    <Events::Categories 
        @category={{this.category}}
        @categories={{@model.categories}} 
        @changeCategory={{this.changeCategory}} 
    />

    <div class="col">
        <section class="buzz card p-4">

            <header>
                <h2 class="fs-3 fw-light">{{if this.pageTitle this.pageTitle 'Freshworks Buzz'}}</h2>
            </header>

            <Events 
            	@events={{@model.events}}
            	@page={{this.page}} 
            	@size={{this.size}} 
            	@paginate={{fn this.paginate}}
            	@total={{this.model.events.meta.total}}
            	@pageCounts={{this.pageCounts}}
                @showComments={{fn showComments}}
        	/>
        </section>
    </div>

    <Events::Comments 
        @event={{this.eventModel}} 
        @newComment={{this.newComment}}
        @addComment={{this.addComment}}
    />
</div>