{{outlet}}


<header>
	<ul>
		{{#if this.auth.isloggedIn}}
			<li>
				<a href="/logout">{{this.auth.user.email}} logout</a>
			</li>
		{{else}}
			<li>
				<a href="/login">Login</a>
			</li>
			<li>
				<a href="/signup">Register</a>
			</li>
		{{/if}}
		
	</ul>
</header>



<main>
<hr>
	<form action="" class="filter-container">
		<div class="filter-item">
			<label for="birthdaytime">Start Time</label>
			<input type="datetime-local" id="birthdaytime" name="birthdaytime">
		</div>

		<div class="filter-item">
			<label for="birthdaytime">End Time</label>
			<input type="datetime-local" id="birthdaytime" name="birthdaytime">
		</div>

		<div class="filter-item">
			<label for="birthdaytime">Category</label>
			<select name="" id="">
				<option value="">option</option>
				<option value="">option</option>
				<option value="">option</option>
				<option value="">option</option>
				<option value="">option</option>
			</select>
		</div>

		<div class="filter-item">
			<label for="birthdaytime">Page Count</label>
			<select name="" id="">
				<option value="">25</option>
				<option value="">50</option>
				<option value="">100</option>
			</select>
		</div>
	</form>
	<hr>
	<div class="table-container">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Category</th>
						<th>Comment</th>
					</tr>
				</thead>

				<tbody>
				      {{#each @model as |event|}}
				        <tr>
							<td>{{event.user.name}}</td>
							<td>{{event.description}}</td>
							<td>{{event.category.title}}</td>
							<td>
								<ul>
									{{#each event.comments as |comm|}}
										<li>{{comm.comment}}</li>
									{{/each}}
								</ul>
							</td>
						</tr>
				      {{/each}}
				</tbody>
			</table>


			<hr>

			<FroalaEditor />


			<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr>
			<Pagination @pager={{pager this.model.meta.total this.page this.size}} @paginate={{this.paginate}} />

		</div>
</main>