{{outlet}}


<header>
	<ul>
		{{#if this.auth.isloggedIn}}
			<li>
				<a href="/logout">{{this.auth.user.email}} logout</a>
			</li>
		{{else}}
			<li>
				<a href="/login">Login</a>
			</li>
			<li>
				<a href="/signup">Register</a>
			</li>
		{{/if}}
		
	</ul>
</header>



<main>
	<div class="table-container">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Category</th>
						<th>Comment</th>
					</tr>
				</thead>

				<tbody>
				      {{#each @model as |event|}}
				        <tr>
							<td>{{event.id}}</td>
							<td>{{event.description}}</td>
							<td>{{event.category}}</td>
						</tr>
				      {{/each}}
				</tbody>
			</table>
		</div>
</main>